development:
  DATABASE_USERNAME: 'root'

  DATABASE_PASSWORD: '123456'

  DATABASE_NAME: 'shorten_url_development'

test:
  DATABASE_USERNAME: 'root'

  DATABASE_PASSWORD: '123456'

  DATABASE_NAME: 'shorten_url_test'

production:
  DATABASE_USERNAME:

  DATABASE_PASSWORD:

  DATABASE_NAME:
